body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  height: 99vh;
}

.scorecard_container {
  border: 8px solid white;
  height: 98%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.age_risk_container{
  grid-column: 1 span;
  grid-row: 1;
  }

.age_container {
 border:1px solid ;
 display: flex ;
  align-items: center;
  background: cyan;
  color: black;
}

.risk_container{
  border-right: 1px solid gray;
}


.density_container {
 grid-column: span 2;
 grid-row: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.quality_container {
  grid-column: span 2;
  grid-row: 2;
  border-top: 1px solid gray;
  display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.diagnose_container {
  grid-column: span 2;
  grid-row: 3;
  border-top: 1px solid gray;
  display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.scorecard > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scorecard h1, .scorecard p {
  margin: 0;
}

.label {
  font-size: 8vh;
  font-weight: bold;
  margin: 0px 10px;
  text-transform: uppercase;
}

.value {
  font-weight: bold;
  margin: 4px
}

/* Age */
.age_label{
  font-size: 7vh;
  margin: 0px 10px;
  text-transform: uppercase;
}

.age{
  font-size: 10vh;
  font-weight: bold;
  margin: 0px 10px;
}

/* Risk Classes */
.risk_label_container{
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.risk{
  font-size: 10vh;
  display: flex;
  justify-content: center;
  text-transform: uppercase;

}

.label_year{
  font-size: 3vh;
  margin: 0px ;
}

.risk-normal {
  color: green;
}

.risk-increased {
  color: orange;
}

.risk-high {
  color: red;
}

/* Density Classes */
.density {
  font-size: 22vh;
  border-radius: 50%;
  height: 23vh;
  width: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.density_value{
  display: flex;
  align-items: center;
  justify-content: center;
}

.density-A {
  background: green;
}

.density-B {
  background: rgb(53, 107, 53);
}

.density-C {
  background: orange;
}

.density-D {
  background: red;
}

/* Quality Classes */
.quality{
  font-size: 14vh;
  text-transform: uppercase;
  display: flex  ;
  align-items: center;
  justify-content: center;
 }


.quality-perfect {
  color: green;
}

.quality-good {
  color: rgb(53, 107, 53);
}

.quality-moderate {
  color: orange;
}

.quality-insufficient {
  color: red;
}

/* Diagnostics Classes */
.diagnostic{
  font-size: 29vh;
  margin: 0;
  line-height: 22vh;
 }

 .birads{
  font-size: 6vh;
  margin: 0
 }

 .diagnostics_class_container{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px;
  border-radius: 5px;
 }

.diagnostics-2 {
  background-color: rgb(9, 80, 9);
}

.diagnostics-3 {
  background-color: rgb(53, 107, 53); 
}

.diagnostics-4 {
  background-color: orange;
}

.diagnostics-5 {
  background-color: red;
}
.risk-none{
background-color: gray
}

.density-none{
background-color: gray
}

.quality-none{
background-color: gray
}

.diagnostics-none{
background-color: gray
}