.body-style {
  /* font-family: Arial, sans-serif; */
  /* font-family: 'Garamond', 'Georgia', serif; */
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 1400px;
  height: auto;
  width: 100vw;
  background-color: #2f2f2f;

}

.report-main-container {
  margin: 20px;
  padding: 10px;
  background-color: #4a4a4a;
}

.header-container {
  width: 100%;
  color: white;
  border-radius: 5px;
  height: auto;
  overflow: visible;
}

.header-title {
  padding: 20px 10px;
  font-size: 1.5em;
  font-weight: bold;
  background: #5d5d5d;
  margin: 10px 0;
  border-radius: 5px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 3px solid #959595;
  border-radius: 5px;
  padding: 10px;
}

.general_texts{
  margin: 6px
}

.patient-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.exam-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.exam-details {
  display: flex;
  justify-content: space-between;
}

.density-module {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.density-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.density-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-bottom: 10px;
  background: gray;
  color: #333333;
}

.quality-overall-container {
  height: 60px;
  margin-bottom: 10px
}

.quality-overall {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-bottom: 10px;
  padding: 2px 6px;
  background: gray;
  text-transform: uppercase;

}


.quality-module {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
  height: 100%;
}

.risk-info {
  display: flex;
  padding: 4px 10px;
  background: #5d5d5d;
  border-radius: 5px;
  margin: 8px 0;
  align-items: center;
}

.risk-label {
  width: 10%;
}

.risk-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.risk-evaluation {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.risk-icon {
  font-size: 1.5em;
}

.risk-description {
  color: #cccccc;
}

.header-font {
  font-size: 1.5em;
}

.main-features-container {
  width: 100%;
  margin: 20px auto;
  background-color: #4a4a4a;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.quality-row {
  width: 100%;
  border-radius: 5px;
  display: flex;
}

.quality-section {
  width: 25%;
  padding: 20px;
}

.quality-label {
  text-align: center;
}

.label-text {
  font-weight: bold;
  font-size: 1.2em;
}

.quality-badge {
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}


.badge-text {
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
}

.quality-details {
  margin-top: 20px;
}

.explanation-box {
  padding: 10px;
  color: white;
}

.quality-images-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  height: 800px;
  display: flex;
  border-radius: 5px;
  position: relative;
}

.quality-images-right {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative
}

.quality-images-left {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.projection_image {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  display: block;
  object-fit: contain;
}


.density_chip {
  margin: 4px;
  top: 4px;
  height: 34px;
  width: 34px;
  z-index: 9;
  position: absolute;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.dens-right {
  right: 1px;
}

.dens-left {
  left: 1px;
}

.values {
  color: white;
}


.limitations-info {
  margin-left: 0;
}

.footer-info {
  padding: 0;
}


.disclaimer {
  font-style: italic;
  color: gray;
  font-size: 12px;
}


.diagnostics-images-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  max-height: 1800px;
  display: flex;
  border-radius: 5px;
  position: relative;
}

.diagnose-module {
  display: flex;
  width: 30%;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.diagnose-modules-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.diagnose-general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

}

.diagnose-general {
  border-radius: 5px;
  width: 70%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border:1px solid gray
}


.container {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.findings {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.right-box{
  border: 2px solid #888;
  border-right: 1px dashed #888;

}

.left-box{
  border: 2px solid #888;
  border-left: 1px dashed #888;
}


.birads-box{
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin: 0;
  padding: 0;
}

.finding-big{
  font-size: 80px;
  font-weight: bold;
}

.text{
  color: #cccccc;
}

.label {
  font-size: 10px;
  color: #cccccc;
  position: absolute;
  top: 5px;
}

.left{
  right: 5px;
}

.right{
  left: 5px;
}

.general-findings-box{
  display: flex;
  align-items: center;
  justify-content: center;
}


.no-padding-texts{
  padding: 4px 0;
  margin: 0 4px;
}


.proj-labels{
  margin: 4px;
  color: #cccccc;
}

.labels-section-container-mlo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 20px;
}


.label-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labels-section-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 10px;
}

.labels-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.labels-findings {
  display: flex;
  flex-direction: column;
}

.opacities-module-labels{
  margin: 0 8px;
}

.microcalc-module-labels{
  margin: 8px;
}

.lesion-table-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.lesion-tables{
  width: 45%;
}

table {
  width: 100%;
  text-align: left;
  background: #4a4a4a;
  border: 1px solid #5a5a5a;
  font-size: 18px;
}

table td, table th {
  padding: 4px 12px;
}

.size-row{
  padding: 4px 12px;
  text-align: center;
  font-size: 14px;
}

table tr:nth-child(even) {
  background: #616060;
}

table thead {
  background: #808080;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;  
}

table thead th:first-child {
  border-left: none;
}

/* QUALITY AND CLASSES COLORS */
.perfect {
  color: rgb(9, 80, 9);
}

.good {
  color: rgb(53, 107, 53);
}

.moderate {
  color: orange;
}

.insufficient {
  color: red;
}

.perfect_background {
  background: green;
}

.good_background {
  background: rgb(53, 107, 53);
}

.moderate_background {
  background: orange;
}

.insufficient_background {
  background: red;
}

.A{
  background: green;
}

.B{
  background: rgb(53, 107, 53);
}
.C{
  background: orange;
}

.D{
  background: red;
}
