<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Report</title>
</head>

<body>
    <h1>Generate Report Image</h1>

    <p>Best options</p>
    <!-- HTML2Image -->
    <form action="/html-2-img-html-to-image" method="get">
        <button type="submit">HTML2Image</button>
    </form>


    <!-- Pyppeteer -->
    <form action="/pyppeteer-html-to-image" method="get">
        <button type="submit">Pyppeteer</button>
    </form>


    </br>
    <p>b-QUALITY Report layout</p>
    <!-- Report html -->
    <form action="/report" target="_blank">
        <button type="submit">Quality Report html</button>
    </form>

    </br>
    <p>b-DIAGNOSTICS Report layout</p>
    <!-- Report html -->
    <form action="/diagnostics-report" target="_blank">
        <button type="submit">Diagnostics Report html</button>
    </form>
</body>

</html>