<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Report</title>
</head>

<body>
    <h1>Generate Report Image</h1>

    <p>Best options</p>
    <!-- HTML2Image -->
    <form action="/html-2-img-html-to-image" method="get">
        <button type="submit">HTML2Image</button>
    </form>


    <!-- Pyppeteer -->
    <form action="/pyppeteer-html-to-image" method="get">
        <button type="submit">Pyppeteer</button>
    </form>


    <!-- Selenium -->
    <p>Is not getting the proj images</p>
    <form action="/selenium-html-to-image" method="get">
        <button type="submit">Selenium</button>
    </form>

    </br>
    <p>Others</p>
    <!-- Spire -->
    <form action="/spire-html-to-image" method="get">
        <button type="submit">Spire</button>
    </form>

    <!-- WeasyPrint -->
    <form action="/weasy-html-to-image" method="get">
        <button type="submit">WeasyPrint</button>
    </form>


    </br>
    <p>Report layout</p>
    <!-- Report html -->
    <form action="/report" target="_blank">
        <button type="submit">See report page</button>
    </form>


</body>

</html>