<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ report }}</title>
    <style>
        {{ style_sheet_content | safe }}
    </style>
</head>
  <body class="body-style">
    <div class="report-main-container">
      <!-- Header with patient and exam info -->
      <div class="header-container">
        <div class="header-title">{{ diagnostics_report }} {{for}} {{patient_name}}</div>
        <div class="header-info">
          {% if not anonimize %}
          <!-- Patient info -->
          <div class="patient-info">
            <p><strong>{{ patient_name_label }}:</strong> {{ patient_name }}</p>
            <p><strong>{{ birth_date_label }}:</strong> {{ patient_birth }}</p>
            <p><strong>{{ examination_date_label }}:</strong> {{ exam_date }}</p>
          </div>
          <!-- Middle Column more exam info-->
          <div class="exam-info">
            <p><strong>{{ examination_type_label }}:</strong> {{ exam_type }}</p>
            <p><strong>{{ referring_physician_label }}:</strong> {{ ref_phys }}</p>
            <p><strong>{{ performing_operator_label }}:</strong> {{ operator_name }}</p>
          </div>
          <!-- diagnose Module -->
          <div class="diagnose-module">
            <p class="no-padding-texts"><strong>{{ overall_diagnose_label }}</strong></p>         
            <div class="findings">
              <div class="column">
                <h5 class="no-padding-texts">Opacities</h5>
                <div class="general-findings-box">
                  <div class="box right-box">
                    <span class="label right">R</span>
                    <div class="finding-big {{overall_right_opacities}}">{{overall_right_opacities}}</div>
                    <p class="birads-box">BI-RADS</p>
                  </div>
          
                  <div class="box left-box">
                    <span class="label left">L</span>
                    <div class="finding-big {{overall_left_opacities}}">{{overall_left_opacities}}</div>
                    <p class="birads-box">BI-RADS</p>
                  </div>
                </div>
              </div>
              <div class="column">
                <h5 class="no-padding-texts">Microcalcifications</h5>
                <div class="general-findings-box">
                  <div class="box right-box">
                    <span class="label right">R</span>
                    <div class="finding-big {{overall_right_microcalc}}">{{overall_right_microcalc}}</div>
                    <p class="birads-box">BI-RADS</p>
                  </div>
          
                  <div class="box left-box">
                    <span class="label left">L</span>
                    <div class="finding-big {{overall_left_microcalc}}">{{overall_left_microcalc}}</div>
                    <p class="birads-box">BI-RADS</p>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
  
          <!-- Right Column (density and module status) -->
          <div class="density-module">
            <p class="no-padding-texts"><strong>{{ overall_density_label }}</strong></p>
            <div class="density-circle perfect_color">{{ overall_density }}</div>
            <p class="no-padding-texts"><strong>{{ density_label }}:</strong> {{ density_confirmed }} &#8635;</p>
            <p class="no-padding-texts"><strong>{{ opacities_label }}:</strong> {{ opacities_confirmed }} &#8635;</p>
            <p class="no-padding-texts"><strong>{{ microcalc_label }}:</strong> {{ microcalc_confirmed }} &#8635;</p>

          </div>
          {% endif %}
        </div>
        <!-- Risk -->
        <div class="risk-info">
          <p class="risk-label"><strong>{{ risk_label }}:</strong></p>
          <div class="risk-details">
            <p class="risk-evaluation">
              <span class="risk-icon">&#128994;</span>&nbsp;{{ patient_risk_evaluation }}
            </p>
            <p class="risk-description">{{ risk_description }}</p>
          </div>
        </div>
      </div>
  
      <!-- Diagnostics Feats  -->
      <div class="main-features-container">
        <div class="labels-section-container">
          <div class="labels-section">
            <div class="label-center">
              <h4 class="proj-labels">{{ rcc_label }}</h4>
            </div>
            <div class="labels-findings">
              <p class="opacities-module-labels"><strong>{{ opacities_label }}:</strong> {{ high_rcc_opacities }}</p>
              <p class="microcalc-module-labels"><strong>{{ microcalc_label }}:</strong> {{ high_rcc_microcalc }}</p>
            </div>
          </div>
          <div class="labels-section">
            <div class="label-center">
              <h4 class="proj-labels">{{ lcc_label }}</h4>
            </div>
            <div class="labels-findings">
              <p class="opacities-module-labels"><strong>{{ opacities_label }}:</strong> {{ high_lcc_opacities }}</p>
              <p class="microcalc-module-labels"><strong>{{ microcalc_label }}:</strong> {{ high_lcc_microcalc }}</p>
            </div>
          </div>
        </div>
        <div class="quality-row">
          <div class="diagnostics-images-container">
            <div class="quality-images-right">
              <div class="density_chip dens-left">
                <p><strong>D</strong></p>
              </div>
              <img src="{{ rcc_proj_img }}" alt="{{ breast_image_alt }}" class="projection_image" />
              {{opacities_rcc|safe}}
              {{microcalc_rcc|safe}}
            </div>
            <div class="quality-images-left">
              <div class="density_chip dens-right">
                <p><strong>D</strong></p>
              </div>
              <img src="{{ lcc_proj_img }}" alt="{{ breast_image_alt }}" class="projection_image" />
              {{ opacities_lcc|safe }}
              {{microcalc_lcc|safe}}

            </div>
          </div>
        </div>
  
        <!-- RMLO Section -->
        <div class="labels-section-container-mlo">
          <div class="labels-section">
            <div class="label-center">
              <h4 class="proj-labels">{{ rmlo_label }}</h4>
            </div>
            <div class="labels-findings">
              <p class="opacities-module-labels"><strong>{{ opacities_label }}:</strong> {{ high_rmlo_opacities }}</p>
              <p class="microcalc-module-labels"><strong>{{ microcalc_label }}:</strong> {{ high_rmlo_microcalc }}</p>
            </div>
          </div>
          <div class="labels-section">
            <div class="label-center">
              <h4 class="proj-labels">{{ lmlo_label }}</h4>
            </div>
            <div class="labels-findings">
              <p class="opacities-module-labels"><strong>{{ opacities_label }}:</strong> {{ high_lmlo_opacities }}</p>
              <p class="microcalc-module-labels"><strong>{{ microcalc_label }}:</strong> {{ high_lmlo_microcalc }}</p>
            </div>
          </div>
        </div>
        <div class="quality-row">
          <div class="diagnostics-images-container">
            <div class="quality-images-right">
              <div class="density_chip dens-left">
                <p><strong>D</strong></p>
              </div>
              <img src="{{ rmlo_proj_img }}" alt="{{ breast_image_alt }}" class="projection_image" />
              {{opacities_rmlo|safe}}
              {{microcalc_rmlo|safe}}

  
  
            </div>
            <div class="quality-images-left">
              <div class="density_chip dens-right">
                <p><strong>D</strong></p>
              </div>
              <img src="{{ lmlo_proj_img }}" alt="{{ breast_image_alt }}" class="projection_image" />
              {{ opacities_lmlo|safe }}
              {{microcalc_lmlo|safe}}
            </div>
          </div>
        </div>

        <div class="lesion-table-container">
          <div class="lesion-tables">
            <h4>Right Breast Findings</h4>
            {{ right_breast_table|safe }}
          </div>
        
          <div class="lesion-tables">
            <div>
              <h4>Left Breast Findings</h4>
              {{ left_breast_table|safe }}
            </div>
          </div>
        </div>
        <div class="limitations-info">
          <p><strong>{{ limitations_label }}:</strong></p>
          <p>{{limitations}}</p>
        </div>
  
        <div class="footer-info">
          <p>{{udi_title}} <strong>{{udi}}</strong></p>
          <p class="disclaimer">{{disclaimer}}</p>
          <p class="disclaimer">{{disclaimer_text}}</p>
          <p class="disclaimer">{{disclaimer_long}}</p>
        </div>
      </div>
  </body>
</div>
</html>
